@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Fond et police de la page*/
html {
    background-color: #0A0A26;
    font-family: 'Roboto', sans-serif;
}

.accueil {
    text-align: center;
    margin-top: 18%;
}

.titre {
    margin-top: 24%;
    text-align: center;
}

.propos{
    margin-top: 3%;
    margin-bottom: 20%;
    text-align: center;
}
.propos>* {
    margin: 1%;
}

.logo{
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid white;
    border-radius: 7px;
}
h1 {
    font-size: 60px;
    color: aliceblue;
}

h2 {
    font-size: 20px;
    color: aliceblue;
}

/* Lien */
a {
    color: aliceblue;
    text-decoration: none;
    padding: 2%;
}